<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Euler's Eyes</title>
</head>

<body>
    <div class="app">
        <header class="header">
            <h1 tabindex={0}>EULER'S EYES</h1>
            <h2 tabindex={0}>Master Math with Interactive Practice</h2>  
        </header>
        
        <div class="container content">
            <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
                <div style="margin:10px">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required style="border:1px solid black;"/>
                    <br>
                </div>
                <div style="margin:10px">
                    <label for="password" style="padding-right:4px;">Password</label>
                    <input type="password" id="password" name="password" required style="border:1px solid black;"/>
                    <br>
                </div>
                <input type="submit" value="login" class="custom-button" style="margin:10px"/>
                <br>
                <input type="hidden" name="operation" value="login" style="margin:10px"/>
            </form>
            <p class="container content">Don't have an account? <a href="/accounts/create/" style="color:darkblue">Click Here To Create an Account.</a></p>

        </div>
        
    </div>

</body>

</html>
